{% extends 'base.html.twig' %}

{% block title %}Stop{% endblock %}

{% block body %}
    <h1>Stop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stop.id }}</td>
            </tr>
            <tr>
                <th>VilleStop</th>
                <td>{{ stop.villeStop }}</td>
            </tr>
            <tr>
                <th>TempsStop</th>
                <td>{{ stop.tempsStop }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adminstop_index') }}">back to list</a>

    <a href="{{ path('app_adminstop_edit', {'id': stop.id}) }}">edit</a>

    {{ include('adminstop/_delete_form.html.twig') }}
{% endblock %}
