{% extends 'base.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body %}
    <h1>Magasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magasin.id }}</td>
            </tr>
            <tr>
                <th>TypeMagasin</th>
                <td>{{ magasin.typeMagasin }}</td>
            </tr>
            <tr>
                <th>NomMagasin</th>
                <td>{{ magasin.nomMagasin }}</td>
            </tr>
            <tr>
                <th>NuméroMagasin</th>
                <td>{{ magasin.numéroMagasin }}</td>
            </tr>
            <tr>
                <th>LiensMaps</th>
                <td>{{ magasin.liensMaps }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adminmagasin_index') }}">back to list</a>

    <a href="{{ path('app_adminmagasin_edit', {'id': magasin.id}) }}">edit</a>

    {{ include('adminmagasin/_delete_form.html.twig') }}
{% endblock %}
